body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.header {
  background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white background */
  padding: 10px 0;
  margin-bottom: 20px; /* Adjust as necessary */
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 4rem;

  .left-side {
    display: flex;
    align-items: center;

    img {
      scale: 0.6;
      margin-top: 1rem;
    }
  }

  .right-side {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
}

.sub-header {
  background-image: url('../resources/Yfc1.png');
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 200px;
}

.logo {
  max-width: 100px; /* Adapter selon la taille réelle du logo */
  margin-bottom: 20px;
}


.nav-link {
  text-decoration: none;
  color: black; /* Text color */
  margin: 0 10px;
  padding: 10px 20px;
  background: white; /* Button background color */
  border: none;
  cursor: pointer;
  display: inline-block;
}

.nav-link:hover {
  background: grey; /* Adjust hover color */
}

nav, img {
  border-radius: 3rem;
}

.event-info h1 {
  font-size: 2em;
  margin: 0;
}

.event-info p {
  font-size: 1.2em;
  margin: 20px 0;
}

.btn-discover {
  text-decoration: none;
  color: white;
  background: red;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}


.btn-discover:hover {
  background: darkred;
}

/* Styles pour la section 'Nos Meilleurs Combattants' */
.section.fighters {
  padding: 100px 0;
  text-align: center;
  /* Ajoutez des styles supplémentaires ici si nécessaire */
}

.highlighted-fighter {
  position: relative;
  display: inline-block;
  /* Assurez-vous que la taille convient à votre mise en page */
}

.highlighted-fighter img {
  width: 100%; /* ou une autre valeur selon la taille souhaitée */
}

.fighter-info {
  position: absolute;
  top: 50%; /* ajustez comme nécessaire */
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  /* Ajoutez des styles supplémentaires pour le texte et le lien ici */
}

/* Styles pour le bouton 'Découvrir' pour les combattants */
.btn-discover {
  /* Vos styles existants pour .btn-discover conviennent ici */
}

/* CSS pour la section communauté */
.community-section {
  text-align: center;
  padding: 50px 0; /* Ajustez ce padding selon votre design */
  color: #ffffff; /* Couleur de votre texte */
}

.community-section h2 {
  margin-bottom: 20px; /* Espace entre le titre et l'image */
  text-shadow: 2px 2px 4px #000000; /* Ombre du texte pour améliorer la lisibilité */
}

.community-section img {
  width: 100%; /* L'image occupe toute la largeur de .community-content */
  height: auto; /* Hauteur automatique pour conserver le ratio */
}

.community-section .community-content {
  position: relative; /* position relative pour que le bouton soit positionné par rapport à cette div */
  max-width: 1200px; /* Largeur maximale du contenu */
  margin: auto; /* Centre le contenu */
}

.community-section p {
  margin-top: 20px; /* Espace entre l'image et le paragraphe */
  font-size: 1.2em; /* Taille de la police */
}

/* CSS pour la section boutique */
.store-section {
  text-align: center;
  padding: 50px 0; /* Ajustez ce padding selon votre design */
  color: #ffffff; /* Couleur de votre texte */
}

.store-section img {
  width: 100%; /* L'image occupe toute la largeur de .store-section */
  height: auto; /* Hauteur automatique pour conserver le ratio */
}

/* Boutons communs pour les*/
.site-footer {
  background-image: url('../resources/YFCNOIR.jpeg'); /* Mettez le chemin vers votre image de fond ici */
  color: white; /* Changez la couleur du texte si nécessaire */
  padding: 50px 0; /* Ajustez le padding selon votre design */
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-around; /* Cela répartit les colonnes uniformément */
  align-items: start;
  max-width: 1200px; /* Ajustez la largeur maximale */
  margin: auto;
}

.footer-content div {
  margin: 0 10px; /* Espace entre les colonnes */
}

.footer-content h3 {
  margin-bottom: 20px; /* Espace sous les titres */
}

.footer-content ul {
  list-style-type: none; /* Enlève les puces de liste */
  padding: 0;
}

.footer-content a {
  color: white; /* La couleur de vos liens */
  text-decoration: none; /* Enlève le soulignement */
  transition: color 0.3s ease;
}

.footer-content a:hover {
  color: #d62411; /* Couleur au survol */
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column; /* Les colonnes deviennent verticales sur les petits écrans */
    align-items: center;
  }

  .footer-content div {
    margin-bottom: 30px; /* Espace entre les divs quand elles sont verticales */
  }
}
